[submodule "Code/picocalc_lvgl_graphics_demo/Code/picocalc_lvgl_graphics_demo/lib/lvgl/lvgl"]
	path = Code/picocalc_lvgl_graphics_demo/Code/picocalc_lvgl_graphics_demo/lib/lvgl/lvgl
	url = https://github.com/lvgl/lvgl.git
